.indicator {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.description {
  color: grey;
  font-size: 16px;
  margin-bottom: 10px;
}

.footnote {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}


.card {
  border: 2px solid;
  border-color: #bcbdc4;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  min-width: 300px;
  max-width: 500px;
  transition: background-color 0.2s;
  flex-wrap: nowrap;
  margin-bottom: 0.5em;
}

.card:hover {
  background-color: #f5f8ff;
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}

.menu_block {
  margin-left: auto;
  margin-right: 0;
}

.menu {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu:hover {
  background-color: #f2f3f4;
  color: black;
}

.green {
  color: #05a301;
}

.blue {
  color: #0225ff;
}

.red {
  color: #f21e1e;
}

.cyan {
  color: #3abeff;
}

.grey {
  color: #808080;
}